<!Doctype html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<script src="https://raw.github.com/DmitryBaranovskiy/raphael/master/raphael-min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
	<title>${name}</title>
	<style type="text/css">
h2{
	color: #333333;
	font-family: Collegiate;
	font-size: 3em;
	margin:0 auto;

}
p{
	color: #333333;
	font-family: 'Source Sans Pro';
}
#banner{
	background: rgba(199,201,197,0.4);
	border-radius: 5px;
	padding:5px;
	margin-bottom: 20px;
}
li{
	text-decoration: none;
}
#cuerpo{
	background: rgba(47,69,122,0.4);
	border-radius: 5px;
	padding:5px;

}

</style>
	<script language="javascript">
		$(document).on('ready',function(){
			var websocket = io.connect();
			websocket.emit('emitwit');

			$("#forma").on('submit', function () {
				var mensaje = $("#tweetform").val();
				var user = $("#usuarioid").val();

				websocket.emit('formularioenv',mensaje);
				websocket.emit('userenv',user);	
			});
			//"emit no debe estar anidadado en otro emit, esto causara problemas con socket.io"
			
			websocket.on('twitting', function(tweets,usua){

					for (var i = tweets.length; i >= 0; i--) {

						$('#contenedor').append('<li>'+ 
						 	usua[i]+' dice: '+
							tweets[i]+'</li>');

						$("li").eq(0).hide()
					//esta bien!!!!	
						
				};});});
	</script>
</head>

<body>
	<div id="banner">
		<h2>
		<svg height="32" width="32" xmlns="http://ww.w3.org/2000/svg" style="overflow:hidden; position:relative;" >
		<path style="" fill="#333333" stroke="none" d="M21.871,9.814 15.684,16.001 21.871,22.188 18.335,25.725 8.612,16.001 18.335,6.276z"><path/></svg>
		${name}
		<svg height="32" width="32" xmlns="http://ww.w3.org/2000/svg" style="overflow:hidden; position:relative;" >
		<path style="" fill="#333333" stroke="none" d="M10.129,22.186 16.316,15.999 10.129,9.812 13.665,6.276 23.389,15.999 13.665,25.725z"><path/></svg></h2>
		<p>Un experimento de mensajeria con Socket.io hecho por GooComedy.</p>
		</div>
	<div id="cuerpo">
		<form id="forma" ><h2>
			<svg height="32" width="32" xmlns="http://ww.w3.org/2000/svg" style="overflow:hidden; position:relative;" >
		<path style="" fill="#333333" stroke="none" d="M21.021,16.349c-0.611-1.104-1.359-1.998-2.109-2.623c-0.875,0.641-1.941,1.031-3.103,1.031c-1.164,0-2.231-0.391-3.105-1.031c-0.75,0.625-1.498,1.519-2.111,2.623c-1.422,2.563-1.578,5.192-0.35,5.874c0.55,0.307,1.127,0.078,1.723-0.496c-0.105,0.582-0.166,1.213-0.166,1.873c0,2.932,1.139,5.307,2.543,5.307c0.846,0,1.265-0.865,1.466-2.189c0.201,1.324,0.62,2.189,1.463,2.189c1.406,0,2.545-2.375,2.545-5.307c0-0.66-0.061-1.291-0.168-1.873c0.598,0.574,1.174,0.803,1.725,0.496C22.602,21.541,22.443,18.912,21.021,16.349zM15.808,13.757c2.362,0,4.278-1.916,4.278-4.279s-1.916-4.279-4.278-4.279c-2.363,0-4.28,1.916-4.28,4.279S13.445,13.757,15.808,13.757z"><path/></svg>
			<input id="usuarioid" type="text" lenght="18" name="user" required></h2><h2>
			<svg height="32" width="32" xmlns="http://ww.w3.org/2000/svg" style="overflow:hidden; position:relative;" >
		<path style="" fill="#333333" stroke="none" d="M2.021,9.748L2.021,9.748V9.746V9.748zM2.022,9.746l5.771,5.773l-5.772,5.771l2.122,2.123l7.894-7.895L4.143,7.623L2.022,9.746zM12.248,23.269h14.419V20.27H12.248V23.269zM16.583,17.019h10.084V14.02H16.583V17.019zM12.248,7.769v3.001h14.419V7.769H12.248z"><path/></svg>
			<input id="tweetform" type="text" lenght="140" name="tweet" required></h2><h2>
			<svg height="32" width="32" xmlns="http://ww.w3.org/2000/svg" style="overflow:hidden; position:relative;" >
		<path style="" fill="#333333" stroke="none" d="M5.318,6.684L15.5,24.316L25.682,6.684H5.318z"><path/></svg>
			<input id="sum"type="submit" value="Tweet!"></h2>
		</form>
	<div id="contenedor"></div>
	<aside id="userinfo">
		<p>:Usuarios:</p>

		<svg height="32" width="32" xmlns="http://ww.w3.org/2000/svg" style="overflow:hidden; position:relative;" >
		<path style="" fill="#333333" stroke="none" d="M16,1.466C7.973,1.466,1.466,7.973,1.466,16c0,8.027,6.507,14.534,14.534,14.534c8.027,0,14.534-6.507,14.534-14.534C30.534,7.973,24.027,1.466,16,1.466z M14.757,8h2.42v2.574h-2.42V8z M18.762,23.622H16.1c-1.034,0-1.475-0.44-1.475-1.496v-6.865c0-0.33-0.176-0.484-0.484-0.484h-0.88V12.4h2.662c1.035,0,1.474,0.462,1.474,1.496v6.887c0,0.309,0.176,0.484,0.484,0.484h0.88V23.622z"><path/></svg>
		<div id="info"></div>
	</aside>
	</div>
	<footer><p>El contenido de esta pagina es hosteado por Noditter.com</p></footer>

</body>
</html>